.container {
    grid-column: 3 / span 8;
    grid-row: 1 / 2;
    margin-bottom: 1.5rem;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    list-style-type: none;
    display: flex;
    margin: 0 2rem;

}

.item input {
    cursor: pointer;
}

.category {
    padding-left: 0.5rem;
    color: white;
    font-style: italic;
}
