.container {
    grid-column: 2 / span 10;
    grid-row: 1 / 2;
    margin-bottom: 1.5rem;
}

.list {
    display: flex;
    justify-content: space-around;
}

.item {
    list-style-type: none;
    display: flex;
}

.item input {
    cursor: pointer;
}

.category {
    padding-left: 0.5rem;
    color: white;
    font-style: italic;
}
