.container {
    grid-column: 1 / span 12;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    gap: 2rem;
    justify-items: center;
    justify-content: center;
  }